.table{
    text-align: justify;
    text-align: center;
}
main{
  height: 100vh;
  min-height: 100vh;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: lightgrey;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h"
                         "n n n"
                         "a a as"
                         "a a a"
                         "f f f";
}
header{
    font-family: Arial, Helvetica, sans-serif;
    grid-area: h;
}
h1{
    text-align: left;
    padding-left: 30px;
}
h2{
    text-align: center;
    padding-right: 100px;
}
h3{
    text-align: center;
    padding-left: 200px;
}
nav{
  margin: 0;
  padding: 0;
  grid-area: n;
}
article{
  grid-area: a;
  
}
article img{
  padding-top: 10px;
  padding-left: 30px;
  width: 20%;
}
aside{
  padding-top: 20px;
  grid-area: as;
  float: right;
  padding-bottom: 20px;
}
aside p{
  padding-left: 30px;
}
footer{
  grid-area: f;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Ensuring it spans the full width of its container */
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}


.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.8); /* Dark grey background */
}

.modal-dialog {
    margin-top: 15vh; /* Adjust this value as needed for vertical centering */
}

.close {
    color: #aaa;
    float: left;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes slide-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-from-top {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-from-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  h1.animate-left {
    animation: slide-from-left 1s ease forwards;
  }
  
  h2.animate-top {
    animation: slide-from-top 1s ease forwards;
  }
  
  h3.animate-right {
    animation: slide-from-right 1s ease forwards;
  }