body {
    margin: 0;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(to bottom right, transparent 50%, black 50%),
    linear-gradient(to bottom left, transparent 50%, black 50%),
    linear-gradient(to top right, transparent 50%, black 50%), 
    linear-gradient(to top left, transparent 50%, black 50%);
      
      
    background-position: bottom right, bottom left, top right, top left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
  }
main{
    width: 80%;
    max-width: 800px;
}
.table{
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse; 
}
td,th {
    border: 2px solid black; /* Adds a border to all table cells */
    padding: 8px; /* Optional: adds some padding inside the cells */
  }
.jatek{
    padding-top: 20px;
    margin: auto;
    text-align: center;
}
.tarolo{
    padding-top: 15px;
}
.goodcell, .mediumcell, .badcell {
    border: 1px solid black; /* This adds a border to cells with these classes */
  }
.goodcell {
    background-color: green;
}

.mediumcell {
    background-color: orange;
}

.badcell {
    background-color: red;
}